{% extends "base.html" %}
{% block title %}{{case.case_num}}{% endblock %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="row"></th>
        <td><h3>{{case.case_num}}</h3></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-end" scope="row">Allegations</th>
        <td>
          <ul>
            {% for allegation in case.allegations %}
              <li>{{allegation}}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th class="text-end" scope="row">Disposition</th>
        <td>{{case.disposition}}</td>
      </tr>
      <tr>
        <th class="text-end" scope="row">Officers</th>
        <td>
          <ul>
          {% for officer in case.officers %}
            {% if officer == "Unknown" %}
            <li>Unknown</li>
            {% else %}
            <li>
              <a class="text-secondary" href="https://openoversight.tech-bloc-sea.dev/department/1?badge={{officer}}">
                {{ find_name(officer) }} ({{officer}})
              </a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}